*:-webkit-input-placeholder {
  color: #667;
  opacity: 1;
}
*:-moz-placeholder {
  color: #667;
  opacity: 1;
}
*::-moz-placeholder {
  color: #667;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #667;
  opacity: 1;
}
body {
  font-family: "Arial";
}
.btn {
  width: 320px;
  max-width: 90%;
  height: 68px;
  text-transform: uppercase;
  border: none;
  background: none;
}

/*Шапка*/
.header {
  background-color: #82b400;
}

/*Шапка*/
.modal {
  top: 50%;
  margin-top: -190px;
  position: fixed;
  width: 640px;
  height: 380px;
  left: 50%;
  margin-left: -300px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  display: none;
  z-index: 999;
}
.modal h2 {
  text-align: center;
}
.modal-thank {
  top: 50%;
  margin-top: -190px;
  position: fixed;
  width: 640px;
  height: 380px;
  left: 50%;
  margin-left: -300px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  display: none;
  z-index: 999;
}
.modal-thank h2 {
  text-align: center;
}
.modal-wisible {
  display: block;
  animation: animate 0.5s;
}
.overlay {
  z-index: 10;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
.close-link {
  z-index: 2;
  display: block;
  width: 26px;
  height: 26px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 0 0 0 9px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}
.close-link:hover {
  text-decoration: none;
}
@keyframes animate {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
