// Общие стили
*:-webkit-input-placeholder {
  color: #667;
  opacity: 1;
}

*:-moz-placeholder {
  color: #667;
  opacity: 1;
}

*::-moz-placeholder {
  color: #667;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #667;
  opacity: 1;
}

body {
  font-family: "Arial";
}

.btn {
  width: 320px;
  max-width: 90%;
  height: 68px;
  text-transform: uppercase;
  border: none;
  background: none;
}
// Общие стили

// Шапка
header {}
// Шапка

// Главный экран
.main-screen {
  background-image: url(img/main_bg.jpg);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kart {
  width: 1057px;
  height: 840px;
  margin: 0 auto;
  padding: 0;
  background-position: center center;
  background-image: url(img/bg.png);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.ger {
  background-image: url(img/ger.png);
  background-position: 108px 0;
  width: 104px;
  height: 201px;
  &:hover {
    background-position: -13px 1px;
  }
}
.ger_deg {
  transform: rotate(-45deg);
}

.ru {
  background-image: url(img/ru.png);
  background-position: 227px 0;
  width: 227px;
  height: 201px;
  &:hover {
    background-position: -19px 1px;
  }
}

.yap {
  background-image: url(img/yap.png);
  background-position: 164px 0;
  width: 164px;
  height: 201px;
  &:hover {
    background-position: -21px 1px;
  }
}
.yap_deg {
  transform: rotate(45deg);
}

.por {
  background-image: url(img/por.png);
  background-position: 131px 0;
  width: 131px;
  height: 212px;
  &:hover {
    background-position: -20px 0px;
  }
}
.por_deg {
  transform: rotate(-90deg);
}

.chi {
  background-image: url(img/chi.png);
  background-position: 208px 0;
  width: 208px;
  height: 178px;
  &:hover {
    background-position: -20px -1px;
  }
}
.chi_deg {
  transform: rotate(90deg);
}

.iz {
  background-image: url(img/iz.png);
  background-position: 163px 0;
  width: 166px;
  height: 201px;
  &:hover {
    background-position: -4px 0px;
  }
}
.iz_deg {
  transform: rotate(-135deg);
}

.ben {
  background-image: url(img/ben.png);
  background-position: 164px 0;
  width: 170px;
  height: 201px;
  &:hover {
    background-position: -17px 1px;
  }
}
.ben_deg {
  transform: rotate(180deg);
}

.tay {
  background-image: url(img/tay.png);
  background-position: 140px 0;
  width: 155px;
  height: 201px;
  &:hover {
    background-position: -17px 1px;
  }
}
.tay_deg {
  transform: rotate(135deg);
}

.compas {
  width: 193px;
  height: 192px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url(img/compas.png);
}

.strel {
  transition: all 0.5s;
}
// Главный экран

// Название секции
.section {}
// Название секции

// Подвал
footer {}
// Подвал

// Стили модального окна 
.modal {
  top: 50%;
  margin-top: -190px;
  position: fixed;
  width: 640px;
  height: 380px;
  left: 50%;
  margin-left: -300px;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  display: none;
  z-index: 999;
  h2 {
    text-align: center;
  }
}
// Стили модального окна

// Стили модального окна благодарности
.modal-thank {
  top: 50%;
  margin-top: -190px;
  position: fixed;
  width: 640px;
  height: 380px;
  left: 50%;
  margin-left: -300px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  display: none;
  z-index: 999;
  h2 {
    text-align: center;
  }
}
// Стили модального окна благодарности

// Стиль видимости модального окна
.modal-wisible {
  display: block;
  animation: animate 0.5s;
}
// Стиль видимости модального окна

// Стиль подложки
.overlay {
  z-index: 10;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
// Стиль подложки

// Кнопка закрыть
.close {
  &-link {
    z-index: 2;
    display: block;
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 0 0 0 9px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
}
// Кнопка закрыть

// Анимация появления модального окна
@keyframes animate {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
// Анимация появления модального окна